<style>
    .end{
        background:#332f84;
        width:100%;
        height:200px;
        color:white;
    }
    .contact{
        border-radius: 0px;
        background:#332f84;
        border: none;
        width:33.333333%;
        color:white;
        font-weight: bold;
        float:left;
        text-align: center;
        padding-top:5px;
        padding-bottom:5px;
        border-bottom: 2px solid white;
    }.decore{
        color:white;
    }
    .footblock{
        padding:10px;
    }
    .decore:hover{
        color:aqua;
    }
</style>
<div class="end">
    <button class="contact"><a class="decore" href="mailto:shan12341810@gmail.com">Email</a></button>
    <button class="contact"><a class="decore" href="tel:+11111111111111111">Phone</a></button>
    <button class="contact"><a class="decore" href="">Help</a></button>
    <div class="footblock">
        We provided informations on coding knowledge and also you can check your knowledge by practicing quizes.
    </div>
    <div class="footblock">
        Location :&#xe567; Kolkata, West Bengal 700059, India.<br/>
        Phone Number : +91-9XXXXX7696<br/><br/>
        <hr/>
        <center>@ copyright 2025</center>
    </div>
</div>