<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quize-knowledge</title>
    {% load static %}
    <script src="{% static 'js/python.js' %}"></script>
    <style>
        #know{
            text-decoration: underline;
            background: white;
        }
    </style>
</head>
<body onload="move()">
    {% include 'heander.html' %}
    <p><strong>Python Introduction</strong><br/>
        Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.<br/>
        <br/>
        It is used for:
        <br/>
        <ul>
        <li>web development (server-side)</li>
        <li>software development</li>
        <li>mathematics</li>
        <li>system scripting.</li>
        </ul>
        What can Python do?<br/>
        <ol>
        <li>Python can be used on a server to create web applications.</li>
        <li>Python can be used alongside software to create workflows.</li>
        <li>Python can connect to database systems. It can also read and modify files.</li>
        <li>Python can be used to handle big data and perform complex mathematics.</li>
        <li>Python can be used for rapid prototyping, or for production-ready software development</li></ol>
        Example: A simple Program to print "Hello World"<br/><br/>
        <span style="font-weight: bolder;color:blue;padding-left: 20px;">>>>print(<span style="color:green;">"Hello, World!"</span>)</span><br/>
        <span style="font-weight: bolder;color:rgb(255, 0, 0);padding-left: 20px;">>>>Output : <span style="color:green;">Hello, World!</span></span>
    </p>
    {% include 'footer.html' %}
</body>
</html>