<div class="navbar">
    <div id="nav1" style="float:left;padding-left:40px;padding-right:40px;margin-left: 400px;" onmouseenter="colorchange('nave1');" onmouseleave="colorreturn('nav1');">HOME</div>
    <div id="nav2" style="float:left;padding-left:40px;padding-right:40px;border-left:3px solid black;border-right: 3px solid black;" onmouseenter="colorchange('nav2');" onmouseleave="colorreturn('nav2');">ABOUT</div>
    <div id="nav3" style="float:left;padding-left:40px;padding-right:40px;border-right: 3px solid black;" onmouseenter="colorchange('nav3');" onmouseleave="colorreturn('nav3');">ADD QUESTION</div>
    <div id="nav4" style="float:left;padding-left:40px;padding-right:40px;" onmouseenter="colorchange('nav4');" onmouseleave="colorreturn('nav4');">QUIZE</div>
</div>
<script>
    function colorchange(s){
        document.getElementById[s].style.color="blue";
    }
    function colorreturn(s){
        document.getElementById[s].style.color="black";
    }
</script>